body{
    font-family: 'Roboto', sans-serif;
}

.dark-blue{
    background-color: #1F2937; 
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none; 
}

.header-links a, .left p, img, button{
    font-size: 18px;   
    color: #E5E7EB;
}

.header-links{
    display: flex;
    gap: 20px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.left h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.dark-blue-container, .white{
    display:flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #3882F6;
    width: 90px;
    border-radius: 8px;
    padding:10px;
}

img{
    display: block;
    width: 400px;
    height: 180px;
    background-color: grey;
    text-align: center;
}

.white{
    flex-direction: column;
    text-align: center;
}

.squares{
    margin-top:50px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.square-img{
    height: 180px;
    width: 180px;
    border-radius: 8px;
    border: #3882F6;
}

.img-subtext{
    width: 180px;
}

h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.grey{
    background-color: #E5E7EB;
    display:flex;
    flex-direction:column;

}

.quote-text{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight:lighter;
}

.quote-author{
    font-weight: bold;
    text-align: right;
}